@value sizes: "../../sizes.css";
@value full-width, spacer from sizes;

.maxWidth {
  margin: auto;
  width: 100%;
  max-width: full-width;
}

@media only screen and (max-width: 768px) {
  .maxWidth {
    padding: 0 spacer;
  }
}
