@value sizes: "../../sizes.css";
@value full-width, spacer from sizes;
@value colors: "../../colors.css";
@value background, outline, primary, on-primary-container from colors;

.navigation {
  height: 6.4rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: full-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin: 0 spacer;
  }
}

.navigation a {
  color: on-primary-container;
  margin-right: spacer;
}

.navigation a:hover {
  color: primary;
}

.logo {
  padding: 1.8rem 0;
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-weight: bold;
}

.links {
  padding: 1.8rem 0;
  outline: none;
}
