@value sizes: "../../sizes.css";
@value full-width, spacer from sizes;
@value colors: "../../colors.css";
@value primary, custom-white from colors;

.navigation {
  background-color: primary;
  color: custom-white;
  height: 4.8rem;
}

.ghostShark {
  width: 100%;
  max-width: full-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  color: custom-white;
  margin-right: spacer;
}

.logo {
  padding: 1.3rem 1.5rem 1.3rem 0;
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-weight: bold;
}

.links {
  padding: 1.3rem 0 1.3rem 1.5rem;
  outline: none;
}
