@value sizes: "../sizes.css";
@value spacer, font-size-big, font-size-bigger, font-size-small, border-radius-size, gap from sizes;
@value colors: "../colors.css";
@value surface from colors;

.intro {
  margin: 5rem 0 10rem;
}

.introTitle {
  font-weight: bold;
  font-size: font-size-big;
  text-align: center;
  margin: spacer 0 1rem;
}

.cardHeadline {
  font-size: font-size-bigger;
  font-weight: 500;
  background-color: surface;
  padding: 1.6rem 1.6rem gap;
}

.cardSubhead {
  background-color: surface;
  padding: 0 1.6rem 1.6rem;
}

.cardText {
  background-color: surface;
  font-size: font-size-small;
  padding: 0 1.6rem gap;
}

.cardAction {
  background-color: surface;
  padding: 0 1.6rem 1.2rem;
  border-radius: 0 0 border-radius-size border-radius-size;
  text-align: right;
}

.contentCard {
  width: calc(50% - gap);
}

.contentCard .cardText {
  height: 1gap;
}

.contentCard p {
  margin: 0;
}

.reports {
  margin-top: spacer;
  width: 100%;
  display: flex;
  gap: gap;
  flex-wrap: wrap;
}

.reportsTitle {
  width: 100%;
  padding-bottom: gap;
}

.reportsTitle a {
  font-size: font-size-small;
  padding-left: gap;
}
