@value sizes: "../sizes.css";
@value spacer, font-size-big, font-size-bigger, font-size-small, border-radius-size, gap from sizes;
@value colors: "../colors.css";
@value surface from colors;

.intro {
  margin: 5rem 0 10rem;
}

.introTitle {
  font-weight: bold;
  font-size: font-size-big;
  text-align: center;
  margin: spacer 0 1rem;
}

.reports {
  margin-top: spacer;
  width: 100%;
  display: flex;
  gap: gap;
  flex-wrap: wrap;
}

.reportsTitle {
  width: 100%;
}

.reportsTitle h3 {
  padding: spacer 0 gap;
}

.reportsTitle a {
  font-size: font-size-small;
  padding-left: gap;
}
