.itemHeading {
    margin-top: 4rem;
    margin-bottom: 0.8rem !important;
    font-size: 2.2rem;
    line-height: 3.2rem;
    font-weight: 500;
}

.itemIntro {
    width: 60rem;
}

.itemLink {
    width: 60rem;
    text-align: right;
}
