@value sizes: "../../sizes.css";
@value font-size-bigger, spacer, border-radius-size from sizes;
@value colors: "../../colors.css";
@value secondary, secondary-container, on-secondary-container from colors;

.accordion {
  width: 100%;
}

.title {
  font-weight: 500;
  cursor: pointer;
  background-color: secondary-container;
  border-radius: border-radius-size;
  border: 1px solid secondary-container;
  padding: 1.4rem 2.4rem;
  color: on-secondary-container;
  display: flex;
  justify-content: space-between;
}

.title:hover {
  color: secondary;
}

.contentHidden {
  display: none;
}

.content {
  padding: 0 2.4rem;
}

.term {
  margin: spacer 0;
}
